/*-------------------------------------Universal----*/
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------------------------App Component----*/
.container {
    width: 100%;
    min-height: 100%;
    background: #232323;
}

.header-container {
    padding: 1rem;
    text-align: center;
    background: #e74545;
    color: #232323;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1350px;
    margin: auto;
}

/*------------------------------Search Component----*/
.search-container {
    max-width: 1000px;
    margin: auto;
    padding: 3rem 1rem;
}

.search-form {
    width: 100%;
}

/*-------------------------------Movie Component----*/
.movie {
    margin: 1rem;
    background: #565656;
    color: #ffffff;
}

/*------------------------------------------Text----*/
h1 {
    margin: 0;
    font-size: 2rem;
}

/*----------------------------------------Inputs----*/
input[type="text"] {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    outline: none;
    font-size: 18px;
}

input:focus {
    outline: none;
}

/*---------------------------------------Buttons----*/
.btn {
    width: 100%;
    height: 3rem;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background: #e74545;
    color: #ffffff;
}